# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc/

# MacOS files
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# IDE
.vscode/
.idea/

# PyTorch
*.pt
*.pth